<br>
<div class="row">
  <div class="span6" ng-controller="TotalListCtrl" ng-repeat="room in homeRaw">
    <div ng-repeat="item in room.items.outputs" content="item" >
      <div ng-switch="item.gui_type" ng-if="(item.state == 'true') || (item.state > 0)  ">
	<div ng-switch-when="light"><ng-include src="'partials/mobile/light.html'"></ng-include></div>
        <div ng-switch-when="light_dimmer"><ng-include src="'partials/mobile/light_dimmer.html'"></ng-include></div>
        <div ng-switch-when="light_rgb"><ng-include src="'partials/mobile/light_rgb.html'"></ng-include></div>

      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="span6" ng-controller="TotalListCtrl" ng-repeat="room in homeRaw">
    <div ng-repeat="item in room.items.inputs" content="item" >
      <div ng-switch="item.gui_type" ng-if="item.visible == 'true'">
        <div ng-switch-when="temp"><ng-include src="'partials/mobile/temp.html'"></ng-include></div>
        <div ng-switch-when="analog_in"><ng-include src="'partials/mobile/analog_in.html'"></ng-include></div>
        <div ng-switch-when="string_in"><ng-include src="'partials/mobile/string_input.html'"></ng-include></div>
      </div>
    </div>
  </div>

</div>


