
<div  ng-controller="TotalListCtrl" ng-repeat="it in homeRaw">
 <div  ng-show="at.state.substring(0,2)>0 ||at.state.substring(0,2)=='tr'" ng-controller="TotalListCtrl" content="at" ng-repeat="at in it.items.outputs| filter:{ gui_type : 'light' }">

 <tr><td class="array-left">
 <div class="roomlist" ng-controller="LightDimmerCtrl" ng-init="init(at)">
 <h3 class="roomlist" ng-class="{active: state==true}"><input type="checkbox" class="light" disabled="true" ng-model="state"/> {{at.name}}
  <div class="pull-right" ng-controller="RoomCtrl" >
    <img class="shutter" ng-src="img/button_light_on.png" ng-click='setState(at, "true")'/></img>
    <img class="shutter" ng-src="img/button_light_off.png" ng-click='setState(at, "false")'/></img>
  </div>
 </h3>
</div>
</td>
</tr>
</div>
</div>



<tr><td>


  <div class="array-left" ng-controller="TotalListCtrl" ng-repeat="room in homeRaw">
    <div ng-repeat="item in room.items.inputs" content="item" >
      <div ng-switch="item.gui_type" ng-if="item.visible == 'true'">
        <div ng-switch-when="temp"><ng-include src="'partials/mobile/temp.html'"></ng-include></div>
        <div ng-switch-when="analog_in"><ng-include src="'partials/mobile/analog_in.html'"></ng-include></div>
        <div ng-switch-when="string_in"><ng-include src="'partials/mobile/string_input.html'"></ng-include></div>
      </div>
    </div>
  </div>

</td></tr>



